<div class="hero-unit">
    <h1><%= model.heading %></h1>
    <p><%= model.date %></p>
    <p>
        <button class="btn refresh" rel="tooltip" data-placement="bottom" data-original-title="Refresh only the view!">
            <i class="icon-refresh"></i> Refresh
        </button>
        <button class="btn btn-primary people" rel="tooltip" data-placement="right" data-original-title="Fetch & Show the People!">
            <i class="icon-search icon-white"></i> Show People
        </button>
    </p>
</div>

<div class="people"></div>